html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  margin: 0px auto;
  max-width: 100%;

  font-size: 1.6rem;
  font-family: 'Lato', Verdana, sans-serif;
  text-align: justify;
  
  background-color: #f2f2f2;
}

.wrapper {
  max-width: 940px;
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #f06c64;
}

a:active {
  color: orange;
}

/*----------------HEADER----------------*/

.page-header {
  background-color: #2d303a;
  color: white;
  border-bottom: 6px solid #323746;
}

.header-content {
  display: flex;
  padding-top: 23px;
  padding-bottom: 16px; /* because of border-bottom */
  align-items: baseline;
  text-transform: uppercase;
  font-weight: 700;
}

.logo {
  display: flex;
  flex-grow: 1;
  font-size: 25px;
  letter-spacing: -0.02em;
}

.logo_star {
  color: #f06c64;
}

.main-menu ul {
  padding: 0;
  list-style: none;
}

.main-menu li {
  display: inline-block;
  margin-left: 2em;

  font-size: 12px;
  letter-spacing: -0.02em;
}

.main-menu li + li::before {
  content: ".";
  position: relative; 
  left: -16px;
  bottom: 3px;
  color: #666d89;
}

/*----------------ASIDE.SLIDER----------------*/

.slider-block {
  padding-bottom: 12px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chevron:first-child {
  transform: scale(1, -1);
}

.chevron:last-child {
  transform: scale(-1, -1);
}

.chevron:hover {
  filter: brightness(0.5);
}

/*----------------MAIN.SERVICES----------------*/

.services {
  padding-top: 60px;
  padding-bottom: 48px;
  border-bottom: 6px solid #ffffff;
}

.title {
  margin-bottom: 45px;
}

.title_name,
.service_name {
  font-weight: 900;
  color: #666d89;
}

h1 {
  margin: auto;
  font-size: 30px;
}

h2 {
  font-size: 18px;
  line-height: 18px;
}

.title_description {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: -0.01em;
}

.title_description,
.service_description {
  color: #767e9e;
}

.service_description {
  font-size: 12px;
  line-height: 22px;
}

.services_list {
  height: 230px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.service_unit {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.service_unit img {
  align-self: flex-start;
  margin-right: auto;
  background-color: #f2f2f2;
}

.service_unit_text {
  width: 220px;
  max-height: 106px;
  overflow: hidden;
}

.service_unit h2 {
  margin: auto;
}